In [20]:
#importing necessary libraries
#references - see ../referencesUsed.txt file

import pandas as pd
import numpy as np

In [21]:
#getting target file containing amenities

listingsSummary = pd.read_csv("D:/Raghvendra/Masters/Irish Applications/DCU/DCU subjects study/Sem2_CA683 data analytics and data mining/Main Assignment/berlin airbnb 2020/listings_summary.csv")

In [22]:
#filtering out required columns

listingsSummary = listingsSummary[['id','amenities','number_of_reviews']]

In [23]:
# updating the column name
listingsSummary.rename(columns={'id':'listing_id'}, inplace=True)
listingsSummary.describe()

         listing_id  number_of_reviews
count  2.519700e+04       25197.000000
mean   2.161407e+07          21.562170
std    1.235431e+07          46.386711
min    3.176000e+03           0.000000
25%    1.106221e+07           1.000000
50%    2.124819e+07           5.000000
75%    3.244316e+07          18.000000
max    4.236180e+07         830.000000

In [38]:
rows_amenities = []
rows_listing_id = []

for id, row in listingsSummary.loc[:, ['listing_id','amenities']].iterrows():
    rows_listing_id.append(row['listing_id'])

    row_amenities = {}
    amenities = row['amenities'].strip('{}')
    for amenity in amenities.split(','):
        row_amenities[amenity.strip('"')] = 1
    rows_amenities.append(row_amenities)

pd_listings_amenities = pd.DataFrame(rows_amenities, index=rows_listing_id)
pd_listings_amenities = pd_listings_amenities.fillna(0)
pd_listings_amenities.drop('', axis=1, inplace=True)
pd_listings_amenities['listing_id'] = pd_listings_amenities.index
pd_listings_amenities = pd.merge(pd_listings_amenities, listingsSummary[['listing_id','number_of_reviews']], on='listing_id')

pd_rows_amenities = pd_listings_amenities.sum(axis=0)

pd_amenities_count = pd.DataFrame({'amenities':pd_rows_amenities.index, 'count':pd_rows_amenities.values})
pd_amenities_count = pd_amenities_count.sort_values('count', ascending=False)[:10]

pd_amenities_count.drop(179, axis=0, inplace=True) # drop listing_id
pd_amenities_count.drop(180, axis=0, inplace=True) # drop number_of_reviews

#https://www.w3resource.com/python-exercises/pandas/python-pandas-data-frame-exercise-51.php

pd_amenities_count["count"]= pd_amenities_count["count"].astype(int)
pd_amenities_count.sort_values(by="count", ascending=False)

                    amenities  count
1                        Wifi  24065
4                     Heating  23889
2                     Kitchen  23636
12                 Essentials  23072
6                      Washer  20502
16                 Hair dryer  17454
18  Laptop friendly workspace  16703
15                    Hangers  16464

In [39]:
newDF = pd.DataFrame(columns=['amenities', 'count'])
#https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/

In [40]:
#https://stackoverflow.com/questions/45747589/copying-a-column-from-one-dataframe-to-another-gives-nan-values
newDF['amenities'] = pd_amenities_count['amenities'].values

In [41]:
newDF['count'] = pd_amenities_count['count'].values

In [42]:
newDF

                   amenities  count
0                       Wifi  24065
1                    Heating  23889
2                    Kitchen  23636
3                 Essentials  23072
4                     Washer  20502
5                 Hair dryer  17454
6  Laptop friendly workspace  16703
7                    Hangers  16464

In [43]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [44]:
#https://datascience.stackexchange.com/questions/16728/could-not-convert-string-to-float-error-on-kddcup99-dataset

for column in newDF.amenities:
    if newDF['amenities'].dtype == type(object):
        le = preprocessing.LabelEncoder()
        newDF['amenities'] = le.fit_transform(newDF['amenities'])

In [45]:
#https://stackoverflow.com/questions/38465478/wordcloud-from-data-frame-with-frequency-python

d = {}
for amenities, count in newDF.values:
    d[amenities] = count

In [46]:
d

{7: 24065,
 3: 23889,
 4: 23636,
 0: 23072,
 6: 20502,
 1: 17454,
 5: 16703,
 2: 16464}

In [47]:
import matplotlib.pyplot as plt
%matplotlib inline
from wordcloud import WordCloud

In [ ]:
wordcloud = WordCloud()
wordcloud.generate_from_frequencies(frequencies=d)
plt.figure()
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.show()

In [78]:
'''
#newDF = dict(zip(newDF.amenities, newDF.count))

wordcloud = WordCloud(width=671, height=353)
wordcloud.generate_from_frequencies(frequencies=newDF)
plt.figure( figsize=(20,10) )
plt.imshow(wordcloud, interpolation="sinc")
plt.axis("off")
plt.show()
'''

'\n#newDF = dict(zip(newDF.amenities, newDF.count))\n\nwordcloud = WordCloud(width=671, height=353)\nwordcloud.generate_from_frequencies(frequencies=newDF)\nplt.figure( figsize=(20,10) )\nplt.imshow(wordcloud, interpolation="sinc")\nplt.axis("off")\nplt.show()\n'